body {
  font-family: "Montserrat", sans-serif;
}
.text-alignment {
  text-align: center;
}
/* Header Section Css */
.header-area {
  display: flex;
}
.header-area img {
  width: 100%;
}
.half-width {
  width: 50%;
  padding-left: 60px;
  margin-top: 55px;
  padding-right: 20px;
}
.half-width h1 {
  font-size: 50px;
  margin-top: 130px;
  font-weight: 700;
  color: #575757;
  line-height: 1.6;
}
.text-stop-design {
  background: linear-gradient(to right, rgb(253, 157, 67), rgb(253, 136, 58));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.half-width p {
  color: #828282;
  font-weight: medium;
  font-size: 19px;
  padding-bottom: 40px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    rgba(251, 162, 79, 1),
    rgb(255, 62, 28)
  );
  padding: 20px 37px;
  border-radius: 100px;
  color: white;
  font-weight: 700;
}
/* About Us Section Css */
.about-us-area {
  display: flex;
  background-image: url("/images/about-us-bg.png");
  background-size: 100%;
  margin-top: 150px;
}
.div-container {
  width: 50%;
  margin-top: 30px;
  padding-right: 110px;
}

.div-container img {
  width: 133%;
  padding-right: 200px;
}
.div-container h2 {
  margin-top: 77px;
  color: #707070;
  font-size: 37px;
}
.div-container p {
  margin-right: 70px;
  padding-bottom: 80px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

/* Recipe Section Css */
.recipe-area {
  margin-top: 80px;
}
.recipe-area h1 {
  text-align: center;
  color: #707070;
  font-size: 37px;
}
#paragraph-design {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}
.recipe-container {
  display: flex;
  margin-left: 50px;
}
.card {
  width: 350px;
  margin: 35px;
  margin-right: 25px;
  box-sizing: border-box;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 20px;
}
.img-style {
  width: 89%;
  padding: 15px;
  margin-left: 4px;
}
.card-body {
  padding: 15px;
}
.card-description {
  line-height: 1.6;
}
